*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(120deg, #508EE3, #61CEDD);
    color: #3F546F;
    font-family: "Indie Flower", "Kalam", sans-serif;
    min-height: 100vh;
}

header{
    font-size: 1.2rem;
    color: #1F55AF;
}

header, form{
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form input, form button{
    padding: 0.5rem;
    font-size: 2rem;
    border: none;
    background: #CBD2C9;
    outline: none;
    font-family: "Indie Flower", "Kalam", sans-serif;
    color: #1F55AF;
}

form button{
    color: #9ACAD6;
    background: #CBD2C9;
    padding: 0.5rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

form button:hover{
    background: #9ACAD6;
    color: #CBD2C9;
}

.todo-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-list{
    min-width: 30%;
    list-style: none;
}

.todo{
    margin: 0.5rem;
    background: #CBD2C9;
    color: #1F55AF;
    font-size: 1.7rem;
    font-family: "Indie Flower", "Kalam", sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.8s ease;
}

.todo li{
    flex: 1;
}

.todo-item{
    padding: 0 0 0 0.7rem;
}

.trash-btn, .complete-btn{
    background: #6A0DAD;
    color: #CBD2C9;
    outline: none;
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 1rem;
}

.complete-btn{
    background: rgb(80, 227, 112);
}

.fa-trash, .fa-check{
    pointer-events: none;
}

.completed{
    text-decoration: line-through;
    opacity: 50%;
}

.fall{
    transform: translateY(8rem) rotateZ(25deg);
    opacity: 0;
}

select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    border: none;
}

.select{
    margin: 1rem;
    position: relative;
    overflow: hidden;
}
select{
    color: #1F55AF;
    width: 10rem;
    cursor: pointer;
    padding: 1rem;
    background: #CBD2C9;
}
.select::after{
    content: "\25BC";
    position: absolute;
    background: #1F55AF;
    color: #CBD2C9;
    top: 0;
    right: 0;
    left: 7rem;
    padding: 1rem;
    pointer-events: none;
    transition: all 0.3s ease;
}

.select:hover::after{
    background: #CBD2C9;
    color: #1F55AF;
}